<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="search" placeholder="Pesquisar"></ion-searchbar>
  </ion-navbar>

  <div class="category-wrap" #categoriesMenu>
    <ul class="category-menu">
      <li (click)="filterByCategory(1)" [class.active]="categoryFilter == '1'">
        Gastronomia e café
      </li>
      <li (click)="filterByCategory(2)" [class.active]="categoryFilter == '2'">
        Estética e beleza
      </li>
      <li (click)="filterByCategory(3)" [class.active]="categoryFilter == '3'">
        Turismo e lazer
      </li>
      <li (click)="filterByCategory(4)" [class.active]="categoryFilter == '4'">
        Shows e eventos
      </li>
      <li (click)="filterByCategory(5)" [class.active]="categoryFilter == '5'">
        Fitness e saúde
      </li>
      <li (click)="filterByCategory(6)" [class.active]="categoryFilter == '6'">
        Outros serviços
      </li>
      <li (click)="filterByCategory(7)" [class.active]="categoryFilter == '7'">
        Automotivos
      </li>
      <li (click)="filterByCategory(8)" [class.active]="categoryFilter == '8'">
        Produtos
      </li>
    </ul>
  </div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let offer of offers">
    <img [src]="offer.main_photo" *ngIf="offer.photos.length == 0" (click)="showOfferDetails(offer)"/>
    <ion-slides pager *ngIf="offer.photos.length > 0">
      <ion-slide>
        <img [src]="offer.main_photo" (click)="showOfferDetails(offer)"/>
      </ion-slide>

      <ion-slide *ngFor="let photo of offer.photos">
        <img [src]="photo.photo_file" (click)="showOfferDetails(offer)"/>
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <h2 (click)="showOfferDetails(offer)">
        {{offer.title}}
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col width-50 class="old-price line-cutting">{{offer.original_price | asMoney}}</ion-col>
          <ion-col width-50 class="offer-price">{{offer.offer_price | asMoney}}</ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button block color="abuze" (click)="showOfferDetails(offer)">VEJA MAIS</button>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadOffers($event)">
    <ion-infinite-scroll-content loadingText="Buscando mais ofertas..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
