<ion-menu [content]="content">
  <ion-header>
    <div class="avatar">
      <img src="assets/img/default-user-pic-.png">
      <div *ngIf="isLogged()">
        <h4>{{currentUser.name}}</h4>
        <p>{{currentUser.email}}</p>
      </div>
    </div>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="showLoginModal()" *ngIf="!isLogged()">
        <ion-icon name="log-in"></ion-icon> Login
      </button>

      <button menuClose ion-item (click)="pushTo(couponsPage)" *ngIf="isLogged()">
        <ion-icon name="pricetags"></ion-icon> Meus cupons
      </button>
      <button menuClose ion-item (click)="openPage(p)" *ngIf="isLogged()">
        <ion-icon name="contact"></ion-icon> Editar meus dados
      </button>
      <button menuClose ion-item (click)="pushTo(cardsPage)" *ngIf="isLogged()">
        <ion-icon name="card"></ion-icon> Meus cartões
      </button>
      <button menuClose ion-item (click)="pushTo(invoicesPage)" *ngIf="isLogged()">
        <ion-icon name="cart"></ion-icon> Meus pedidos
      </button>
      <button menuClose ion-item onClick="zE.activate({hideOnClose: true});">
        <ion-icon name="help-buoy"></ion-icon> Ajuda
      </button>
      <button menuClose ion-item (click)="pushTo(changeCityPage)" *ngIf="currentCity">
        <ion-icon name="pin"></ion-icon> {{currentCity.name}} - {{currentCity.state}}
      </button>
      <button menuClose ion-item (click)="logOut()" *ngIf="isLogged()">
        <ion-icon name="log-out"></ion-icon> Sair
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
