#offline-body {
  background-color: #fcb735;
  color: #fff;
}

#offline-body h1.down-info {
  font-size: 36px !important;
  text-align: center;
}

#offline-body .sad-face{
  text-align: center;
  font-size: 130px !important;
}
